<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" tools:ignore="ForegroundServicesPolicy" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/keep_screen_on"
        android:localeConfig="@xml/locales_config"
        android:theme="@style/Theme.KeepScreenOn"
        android:name=".KeepScreenOnApplication"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="36" >

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.KeepScreenOn" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <activity-->
<!--            android:name=".ActivityConfigEnableKeepScreenOn"-->
<!--            android:exported="true"-->
<!--            android:icon="@mipmap/ic_launcher"-->
<!--            android:label="Enable Keep Screen On">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

<!--        <activity-->
<!--            android:name=".ActivityConfigDisableKeepScreenOn"-->
<!--            android:exported="true"-->
<!--            android:icon="@mipmap/ic_launcher"-->
<!--            android:label="Disable Keep Screen On">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <service
            android:name=".service.QSTileService"
            android:exported="true"
            android:icon="@drawable/outline_lock_clock_qs"
            android:label="@string/keep_screen_on"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" >
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".service.BroadcastReceiverService"
            android:foregroundServiceType="specialUse"
            android:exported="false">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Restore screen timeout when battery is low and/or screen turns off" />
        </service>

<!--        <receiver android:name=".glance.WidgetReceiver"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
<!--            </intent-filter>-->
<!--            <meta-data-->
<!--                android:name="android.appwidget.provider"-->
<!--                android:resource="@xml/widget_info" />-->
<!--        </receiver>-->

    </application>

</manifest>