<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/keep_screen_on"
        android:localeConfig="@xml/locales_config"
        android:theme="@style/Theme.KeepScreenOn"
        tools:targetApi="33" >
        <activity
            android:name=".MainActivity"
            android:process=":mainactivity"
            android:exported="true"
            android:theme="@style/Theme.KeepScreenOn" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".QSTileService"
            android:process=":qstileservice"
            android:exported="true"
            android:icon="@drawable/outline_lock_clock_qs"
            android:label="@string/keep_screen_on"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" >
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".BroadcastReceiverService"
            android:process=":broadcastreceiverservice"
            android:foregroundServiceType="specialUse"
            android:exported="false">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Listen for ACTION_SCREEN_OFF and ACTION_BATTERY_LOW" />
        </service>
    </application>

</manifest>